body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calcu{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: whitesmoke;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);

}
.btn{
    background-color: hsl(35, 100%, 50%);
}
.btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.btn:active{
    background-color: hsl(35, 100%, 75%);
}
.clr{
    background-color: whitesmoke;
    color: hsla(0, 2%, 17%, 0.897);
}
.clr:hover{
    background-color: hsl(60, 6%, 84%);
}
.clr:active{
    background-color: hsla(0, 2%, 16%, 0.944);
}
.zero{
    width: 200px;
    border-radius: 135px;
    grid-column: span 2;
    border: none;
}